@use 'sass:color';

$hfont:sans-serif;
$hfont_weight:700;
$pfont:sans-serif;
$pfont_weight:400;
$fontsize:24px;
$fontmultiplier:1.618;

$assets:"/assets/null";

$bdrrad:3px;
$bdrwidth:1px;
$maxw:1920px;

$bk:hsl(0, 0%, 0%);
$gr-d:hsl(0, 0%, 25%);
$gr:hsl(0, 0%, 50%);
$gr-l:hsl(0, 0%, 75%);
$gr-f:hsl(0, 0%, 90%);
$wh:hsl(0, 0%, 100%);

$txtclr:$gr-f;
$txtclr_alt:$wh;
$linkclr:blue;
$linkclr-hov:color.scale($linkclr,$whiteness:50%);
$linkclr_alt:red;
$linkclr_alt-hov:color.scale($linkclr_alt,$whiteness:50%);
$bdrclr:$gr;
$bdrclr_alt:$wh;
$bgclr:$gr-d;
$bgclr_alt:$bk;
$btnbg:$gr-d;
$btnbg_inv:$gr-l;
$cardbg:$gr-f;