@use 'sass:color';
@use 'base' as *;

@import '../icomoon/style';

body{background:url('/assets/img/bg.jpg') no-repeat center; background-size:cover;
	main{height:100vh; overflow:hidden; display:flex; flex-direction:column; background:color.adjust($bgclr, $alpha:-.5);
		article{max-height:calc(100vh - 5em); width:100%;}
		#apidata{display:grid;
			&>div{display:flex; flex-wrap:wrap; justify-content:center; align-items:center; padding:.5em 0; border:1px solid $bdrclr; position:relative;}
			span{flex:1 1 auto; padding:.3em 0; position:relative; text-align:center; font-weight:bold;
				&::before{font-size:.5em; line-height:0; position:absolute; bottom:.67em; left:50%; transform:translate(-50%, .67em); font-weight:normal;}
				&::after{position:absolute;}
				&:first-child{width:100%; font-size:2em;}
			}
			.temp{grid-column:1 / 3; grid-row:1 / 3; font-size:2em;
				.current{
					&::after{content:"\00b0";}
				}
				.min{
					&::before{content:'low';}
					&::after{content:"\00b0";}
				}
				.max{
					&::before{content:'high';}
					&::after{content:"\00b0";}
				}
			}
			.air{
				.pressure{margin-bottom:.25em;
					&::before{content:'pressure';}
					&::after{content:"mb"; font-size:.25em; transform:translateY(1em);}
				}
				.dew_point{
					&::before{content:'dwpt';}
					&::after{content:"\00b0";}
				}
				.humidity{
					&::before{content:'humidity';}
					&::after{content:"%";}
				}
			}
			.sun{font-size:.8em; grid-column:3 / 4;
				.uvi{margin-bottom:.25em;
					&::before{content:'UV index';}
				}
				.rise{
					&::before{content:'sunrise';}
				}
				.set{
					&::before{content:'sunset';}
				}
			}
		}
		#apichart{grid-column:1 / 4; grid-row:3 / 4; overflow:hidden; flex:1 1 auto; border:1px solid $bdrclr;}
		#nfo{display:flex; justify-content:space-between; align-items:center; padding:.3em; border:1px solid $bdrclr;
			#clok{display:flex; flex-direction:column;
				.time{font-size:2em; padding:.25em 0 0;}
				.date{font-size:.8em; text-indent:.5em;}
			}
			#tdata{font-size:.5em; line-height:1.25em; text-align:right;}
		}
	}
}